<div *ngIf="data" class="flex gap-1 bg-gradient-to-br from-neutral-50 to-neutral-400 min-h-screen p-1">
    <div class="min-w-[768px] max-w-[768px]">
        <app-plateau [tuiles]="data.tuiles" [ville]="data.ville"></app-plateau>
        <app-prompt [instruction]="data.instruction" [boutons]="data.boutons"></app-prompt>
        <app-reserve [data]="data.reserve"></app-reserve>
    </div>
    <div class="flex flex-col gap-1">
        <app-joueurs [data]="data.joueurs"></app-joueurs>
        <app-log [data]="data.log"></app-log>
    </div>
    <app-zoom-carte></app-zoom-carte>
</div>