<div class="my-4">
    <p>{{ instruction }}</p>
    <div class="max-w-screen-md flex gap-1 my-1 flex-wrap">
        <button *ngFor="let bouton of boutons" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold px-4 border border-gray-400 rounded shadow"
            (click)="onClickButton(bouton)">{{ bouton.label }}</button>
    </div>
    <div class="flex gap-2">
    <form class="flex gap-1" [formGroup]="consoleForm" (ngSubmit)="onSubmit()">
        <input class="border shadow" type="text" formControlName="command" placeholder="console">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-semibold px-4 rounded shadow" type="submit">Envoyer</button>
    </form>
    <button
        class="bg-white hover:bg-gray-100 text-gray-800 font-semibold px-4 border border-gray-400 rounded shadow"
        (click)="sendPass()">
        Passer
    </button>
    </div>
</div>